@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";



body {
  line-height: 1;
  background: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

.home {
  height: 100%;
  width: 100%;
  text-align: center;
  .Aligner {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .menu ul li {
    padding: 10px 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .version-num {
    background: #E8E8E8;
    border-radius: 4px;
    padding: 7px 15px;
    display: inline-block;
    font-size: 12px;
    margin: 10px 0 20px;
  }
  a {
    text-decoration: none;
    color: #30395C;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: #43D4D6;
  }
}

.box {
  background: black;
	width: 250px;
	height: 250px;
	margin: 0 auto;
  &.active{
    background: green;
  }
}

.container {}

#BillsApp {
  background: rgb(63,255,173);
  background: linear-gradient(90deg, rgba(63,255,173,1) 0%, rgba(66,195,194,1) 100%);
  height: 100vh;
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    h2 {
      font-size: 1.8rem;
      font-weight: 900;
      color:white;
    }
  }
}

#AllBills {
  .container {
    width: 100%;
    padding: 0px 20px;
  }
  .total-bills {
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .text {
      font-size: 1.3rem;
    }
    .number {
      font-size: .9rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 300;
    }
  }

  .bills-list {
    background: white;
    border-radius: 20px;
    .bill {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #E8E8E8;
      padding: 20px;
      &:last-child {
        border: none;
      }
      .company {
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
          img {
            width: 50px;
            border-radius: 50%;
            height: 50px;

          }
        }
        .title {
          font-size: 1.1rem;
          font-weight: 500;
          margin-left: 20px;
          color: rgb(63, 60, 60);
          text-transform: capitalize;

        }
      }
      .price {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(121, 116, 116);
      }
    }
  }
}

